$anchoColumna: 100%;
$colorbackground: rgb(255, 153, 0);
$colorbackgroundAction: rgb(198, 236, 29);
$brilloOscuro: 0%;

.foto {
    border: solid 1px;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.activado{
    background-color: $colorbackgroundAction !important;
}

.fila {
    background-color: aquamarine;
    display: flex;
    gap: 1px;
    margin-top: 1px;
}

.col-2 img {
    width: $anchoColumna/2;
}

.col-3 img {
    width: $anchoColumna/3;
}

.col-4 div {
    width: $anchoColumna/4;
}

* {
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
    font-size: 65px;
    color: $colorbackground;
}

#registro {
    text-align: end;
    padding-top: 10px;

    img {
        filter: brightness($brilloOscuro);

    }

    a:hover {
        background-color: $colorbackgroundAction !important;
    }

}


nav {
    background-color: $colorbackground;
    font-size: 21px;
    margin-bottom: 50px;

    ul {
        text-align: center;
    }
    li{margin: 10px;
    }

    a:hover {
        background-color: $colorbackgroundAction !important;

    }
    
}


body {
    margin: auto;
}

p {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 18px;
}

#primerletra {
    font-size: 30px;
}

footer {
    background-color: $colorbackground;
    padding: 10px;
    color: black;
    font-size: 16px;

    img {
        filter: brightness($brilloOscuro);
    }
}

.card {
    border-width: 3.5px;
    border-radius: 0%;
    border-color: rgb(209, 197, 197);

    a:hover {
        background-color: $colorbackgroundAction !important;
    }

}


.btn {
    background-color: $colorbackground;
    border: none;

}

form {
    margin: 41px;

    button:hover {
        background-color: $colorbackgroundAction !important;
    }

}




img {

    transition: all 0.5s;

}

.card:hover {
    transform: scale(1.01);
}

#imgregistro {
    text-align: center;
    filter: brightness($brilloOscuro);
}