$anchoColumna: 100%;
$colorbackground: #39C375;
$colorbackgroundAction: #358f80;
$colorBody: #D1ED91;
$brilloOscuro: 0%;


.col-2 img {
    width: $anchoColumna/2;
}

.col-3 img {
    width: $anchoColumna/3;
}

.col-4 div {
    width: $anchoColumna/4;
}

* {
    margin: 0px;
    padding: 0px;

}

.activado {
    background-color: $colorbackgroundAction !important;
}

#imagenProducto {
    height: 450px;
    border: solid;

    border-radius: 0%;
    border-color: rgb(209, 197, 197);

    &:hover {
        transform: scale(1.01);
    }

}

.carousel-inner {
    height: 300px;
}

#imagenCarrusel1 {
    filter: sepia();
}

#imagenCarrusel2 {
    filter: sepia(50%);
}


h1 {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
    font-size: 65px;
    color: $colorbackground;
}

#registro {
    text-align: end;
    padding-top: 10px;

    img {
        filter: brightness($brilloOscuro);

    }

    a:hover {
        background-color: $colorbackgroundAction !important;
    }

}


nav {
    background-color: $colorbackground;
    font-size: 21px;
    margin-bottom: 50px;

    ul {
        text-align: center;
        margin: auto;
    }

    li {
        margin: 10px;
    }

    a:hover {
        background-color: $colorbackgroundAction !important;

    }

}


body {
    margin: auto;
    background-color: $colorBody;
}


p {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 18px;
}

#primerletra {
    font-size: 20px;
}

footer {
    background-color: $colorbackground;
    padding: 10px;
    color: black;
    font-size: 16px;

    img {
        filter: brightness($brilloOscuro);
    }
}

.card {
    border-width: 3.5px;
    border-radius: 0%;
    border-color: rgb(209, 197, 197);

    a:hover {
        background-color: $colorbackgroundAction !important;
    }

}


.btn {
    background-color: $colorbackground;
    border: none;

}

form {
    margin: auto;
    padding: 10px;

    h2 {
        margin-top: 45px;
        margin-bottom: 45px;
        font-size: 35px;
        color: $colorbackground;
        text-align: center;
        ;
    }

}

#formRegistro {
    text-align: center;
    ;
}




img {

    transition: all 0.5s;

}

.card:hover {
    transform: scale(1.01);
}

#imgregistro {
    text-align: center;
    filter: brightness($brilloOscuro);
}

.breadcrumb {
    font-size: 18px;
}

#listaValor {
    list-style: none;
}

table {
    margin: auto;
    width: auto;

    td {
        padding: 5px;
        border: solid 1px;
        text-align: center;
    }
}

button:hover {
    background-color: $colorbackgroundAction !important;
}
container{
    justify-content: center;
    .botonPagar{
        display: block;
        margin: auto;
             }
    }

    
