* {
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
    font-size: 55px;
    color: rgb(19, 219, 52);
}

#registro {
    text-align: end;
    padding-top: 10px;
}

#registro img{filter: brightness(0%);}

nav {
    background-color: rgb(19, 219, 52);
    font-size: 21px;
    margin-bottom: 50px;
}


nav ul{text-align: end;}

body {
    margin: auto;
}

p {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 21px;
}

#primerletra {
    font-size: 30px;
}

footer {
    background-color: rgb(19, 219, 52);
    padding: 10px;
    color: black;
    font-size: 16px;
}

footer img{filter: brightness(0%)}

.card {
    border-radius: 0%;
    border-width: 1.5px;
    border-color: rgb(19, 219, 52);
}

.btn {
    background-color: rgb(19, 219, 52);
    border: none;
}

form{margin: 41px;}
form img {filter: brightness(0%);}

img{ transition: all 0.5s;}
img:hover{transform: scale(1.05);}

#imgregistro{text-align: center;}